:root{
  --primary-color:#fee715;
  --secondary-color:#101820;
  --white-color:#ffffff;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

body{
  background-color: var(--secondary-color);
}
.section{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.input-box{
  margin: 30px 30px 10px;
  padding: 10px;
  border: 2px solid var(--white-color);
  width: 500px;
  text-align: center;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.h1{
  margin: 10px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

form{
  margin: 40px 10px 40px 10px;
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 10px;
}

input{
  border: 2px solid var(--white-color);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  outline: none;
}

input:hover{
border: 2px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--secondary-color),0 0 25px var(--secondary-color),0 0 50px var(--secondary-color);
}

input:focus{
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--secondary-color),0 0 25px var(--secondary-color),0 0 50px var(--secondary-color);
}

.btn{
  border: 2px solid var(--secondary-color);
  border-radius: 5px;
  outline: none;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-size: 16px;
  font-weight: 600;
}

.btn:hover{
  border: 2px solid var(--secondary-color);
  box-shadow: 0 0 10px var(--secondary-color),0 0 25px var(--secondary-color),0 0 50px var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.output-box{
  margin: 5px;
  width: 500px;
  border: 2px solid var(--white-color);
   background-color: var(--primary-color);
  border-radius: 5px;
}

li{
  list-style-type: none;
  margin: 8px 8px 8px 16px;
  display: grid;grid-template-columns: 8fr 2fr 2fr;
  gap: 10px;
}
p{
  font-size: 20px;
  color: var(--secondary-color);
}

.obtn{
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
}

.ebtn{
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}
.dbtn{
  border: 2px solid var(--secondary-color);
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.ebtn:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color),0 0 10px var(--secondary-color);
}
.dbtn:hover{
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 5px var(--secondary-color),0 0 10px var(--secondary-color);
}